 :root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --accent-background: #2196f3;
} 


 body {
  max-width: 1600px;
  background-color: var(--white-text);
}


.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
} */

 p {
  margin: 0;
}

image {
  display: block;
  max-width: 100%;
  height: auto;
}

.address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 47px;
  padding-bottom: 47px;
  
 } 

 COMPONENTS 
 .company__logo,
.navigation__list-link:hover,
.navigation__list-link:focus,
.header__mail:hover,
.header__mail:focus,
.header__tel:hover,
.header__tel:focus {
  color: var(--accent-color);
}

.modal-btn,
.filters__modal-btn:hover,
.filters__modal-btn:focus {
  background: var(--accent-color);
}


.title {
  font-family:'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.subtitle {
  font-family:'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.description {
  font-family:'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
} 

 /* INDEX  */
/*  HEADER */
.header {
  background-color: var(--white-text);
  border-bottom: 1px solid #ececec;
  padding-left: 24px;
  padding-right: 24px;
}
.nav {
  display: flex;
  justify-content: space-between;

  align-items: center;
  text-align: center;
  padding: 24px 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.nav-link {
  display: flex;
  align-items: center;
}
.ul-link {
  display: flex;
}
.logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  color: var(--blue-text);
  font-size: 26px;
  letter-spacing: 0.03;
  line-height: 1.15;
}
.logo-studio {
  padding-right: 43px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  color: var(--black-dark-text);
  font-size: 26px;
  letter-spacing: 0.03;
  line-height: 1.15;
}
.logo-studio-white {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  color: var(--white-text);
  font-size: 26px;
  letter-spacing: 0.03em;
}


.active .nav-logo {
  color: var(--blue-text);
  position: relative;
  transition: opacity .1s linear;
}

 .nav-logo::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  opacity: 0;
  background-color: var(--blue-text);
  border-radius: 2px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .1s linear;
}

.nav-logo:hover:after {
  opacity: 1;
}

.nav-logo {
  padding-left: 50px;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  color: var(--black-text);
  letter-spacing: 0.02em;
}
.nav-contacts:hover {
  color: var(--blue-text);
}
.nav-contacts {
  display: flex;
  padding-left: 50px;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-text);
  letter-spacing: 0.02em;
  justify-content: center;
  align-items: center;
}
.svg-contacts {
  margin-right: 10px;
  fill: currentColor;
}


/*  END HEADER  */

/*  HERO */
.hero {
  background: #2f303a;
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url(../images/banner/Img-bac-hero.jpg);
background-repeat: no-repeat;
max-width: 1600px;
text-align: center;

  
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-right: 252px;
  padding-left: 252px;
}

.hero-title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  margin-bottom: 30px;
}

.modal-btn {
  margin-top: 30px;
  border: 0;
  padding: 10px 32px;
  background-color: var(--blue-text);
  color: var(--white-text);
  display: inline-block;
  border-radius: 4px;
  font-family: "roboto";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
}
.modal-btn:hover {
  color: var(--blue-text);
  letter-spacing: 0.06em;
  background-color: var(--white-text);
}
.hide {
  height: 0px;
  overflow: hidden;
}


/*  END HERO */

/* feature */
.feature .container {
  display: flex;
}

.feature__item {
  display: flex;
}

.feature__item-list {
  display: block;
  justify-content: center;
}

.feature__item-list:not(:last-child) {
  margin-right: 30px;
}

.feature__item-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.feature__item-description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.715;
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
}

/* END FEATURE  */

/* services */
.services .title {
  margin-bottom: 50px;
}

.services__item {
  display: flex;
  align-items: center;
}

.services__item-list:not(:last-child) {
  margin-right: 30px;
}
/* END SERVICES  */

/*  TEAM  */

.team {
  background: #f5f4fa;
}

.team .title {
  margin-bottom: 50px;
}

.team__item {
  display: flex;
  justify-content: space-between;
}

.team__item .subtitle {
  min-width: 152px;
  margin-bottom: 10px;
}

.team__item-list:not(:last-child) {
  margin-right: 30px;
}

.team__item-list {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item-content-wrapper {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
/* END TEAM  */

/*  Постійні клієнти */

.client {
  padding: 94px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  text-align: center;
}
.title-client {
  margin-bottom: 50px;
  font-family: "roboto";
  font-size: 36px;
  font-weight: 700;
  color: var(--black-text);
  letter-spacing: 0.03em;
  line-height: 1.16;
}
.ul-client {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.client-link {
  fill: var(--social-networks);
  background-color: transparent;
}
.con-client-svg {
  width: 170px;
  height: 90px;
  border-radius: 4px;
  border: 2px solid currentColor;
  color: var(--social-networks);
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-svg {
  fill: currentColor;
}

.client-link :hover {
  color: #ffffff;
  background-color: var(--blue-text);
}


/* footer */
.footer {
  background-color: var(--dark-grey-bac);
  padding-left: 15px;
  padding-right: 15px;
}
.containers-footer {
  padding: 60px 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
 
}
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}
.map {
  display: inline-block;
  margin-bottom: 9px;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  color: var(--white-text);
  line-height: 1.71;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
.footer-address {
  display: inline-block;
  margin-bottom: 9px;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-text-op60);
  letter-spacing: 0.03em;
  line-height: 1.71;
}
.address {
  font-style: normal;
}

.footer-title {
  color: var(--white-text);
  text-transform: uppercase;

  font-family: "roboto";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.16;
}


.con-footer-link {
  width: 206px;
}


/* END FOOTER */

/* =============== END INDEX =============== */

/*  PORTFOLIO  */

/*  FILTERS  */

.filters .container {
  display: flex;
  justify-content: center;
}

.filters__title-item {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters__modal-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  margin-right: 8px;
  margin-bottom: 50px;
}
.filters__modal-btn:hover,
.filters__modal-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*  END FILTERS  */


.signature {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--grey-text);
  line-height: 1.87;
}
/*Карточки головного контенту   */
/* CARD SET */
.card-set {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.card-set > .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

/* CARD */
.card {
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;
}

.card-content {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
}
.card-thumb {
}
